<header class=" px-52 py-8 flex flex-col gap-8">

  <h1 class="text-center text-5xl text-secondary font-bold text-shadow-md">WEB PORTFOLIO</h1>

  <main class="shadow-header bg-secondary rounded px-8 py-10 flex gap-4 w-full">
    <section class="flex flex-col gap-5 w-5/12">
      <div class="bg-primary font-semibold px-4 flex items-center justify-between py-2 text-darkText shadow-md">
        <span>©All Copyrights for &#64;elziorocha</span>
        <time>2025</time>
      </div>

      <div class="border-4 border-primary flex items-center justify-center py-8 shadow-lg">
        <span class="text-left font-bold text-[90px] tracking-tighter -space-y-10">
          <h2>ENZO ROCHA</h2>
          <H3>WEB DEV</H3>
        </span>
      </div>

      <section class="flex gap-4 h-full">
        <div class="flex flex-col justify-between">
          <div class="flex items-center gap-2 mt-4">
            <lucide-angular [img]="terminalIcon" class="size-14 self-end"></lucide-angular>
            <div class="flex flex-col -space-y-1">
              <h4 class="text-lg">Software Engineer</h4>
              <h3 class="text-3xl">Fullstack Dev</h3>
            </div>
          </div>

          <div class="grid grid-cols-2 gap-3">
            @for(item of linksContato(); track item) {
            <a [href]="item.href" class="bg-primary text-darkText pl-2 pr-18 py-2 flex gap-2 items-center border-4 border-transparent
          hover:bg-secondary hover:text-primary hover:border-primary transition-colors shadow-sm">
              <lucide-angular [img]="item.icon" class="size-6"></lucide-angular>
              <p>{{ item.label }}</p>
            </a>
            }
          </div>
        </div>

        <img src="/images/image.png" alt="" class="h-full w-40">

      </section>
    </section>

    <section class="flex flex-col gap-6 w-4/12">
      <img src="/images/image.png" alt="Foto de perfil" class="h-full">
      <div class="flex justify-between px-2 font-bold">
        <div>
          <h3 class="text-xl">Portfolio v3</h3>
          <p class="font-medium">Made with Angular</p>
        </div>

        <h2 class="text-2xl self-end">Tech.ts</h2>
      </div>
    </section>

    <section class="flex flex-col gap-4 w-3/12">
      <img src="/images/image.png" alt="Foto de perfil" class="h-96 object-cover">

      <img src="/images/image.png" alt="Foto de perfil" class="h-50">
    </section>
  </main>

</header>
