<header class="bg-primary text-primary h-screen px-52 py-8 flex flex-col gap-8">

  <h1 class="text-center text-5xl text-white font-bold">WEB PORTFOLIO</h1>

  <main class="shadow-header bg-secondary rounded px-8 py-10 flex gap-4 w-full">
    <section class="flex flex-col gap-4 w-5/12">
      <div class="bg-primary font-semibold px-4 flex items-center justify-between py-2 text-secondary">
        <span>©All Copyrights for &#64;elziorocha</span>
        <time>2025</time>
      </div>

      <div class="border-4 border-primary flex items-center justify-center py-12">
        <span class="text-left font-bold text-[90px] tracking-tighter -space-y-10">
          <h2>ENZO ROCHA</h2>
          <H3>WEB DEV</H3>
        </span>
      </div>

      <section class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
          <lucide-angular [img]="terminalIcon" class="size-14 self-end"></lucide-angular>
          <div class="flex flex-col -space-y-1">
            <h4 class="text-lg">Software Engineer</h4>
            <h3 class="text-3xl">Fullstack Dev</h3>
          </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <a *ngFor="linksContato" [href]="linksContato.href" ...>
            <lucide-angular [img]="linksContato.icon" ...></lucide-angular>
            <p>{{ linksContato.label }}</p>
          </a>
        </div>

      </section>
    </section>

    <section class="flex flex-col gap-6 w-4/12">
      <img src="/images/image.png" alt="Foto de perfil" class="h-full">
      <div class="flex justify-between px-2 font-bold">
        <div>
          <h3 class="text-xl">texto aqui</h3>
          <p class="font-medium">mais texto com coisa</p>
        </div>

        <h2 class="text-2xl">pampanation</h2>
      </div>
    </section>

    <section class="flex flex-col gap-4 w-3/12">
      <img src="/images/image.png" alt="Foto de perfil" class="h-96">

      <img src="/images/image.png" alt="Foto de perfil" class="h-50">
    </section>
  </main>

</header>
